<html>
    <head>
        <link type="text/css" href="css/index.css" rel="stylesheet" />
    </head>
    <body>
        <h2>Create new user</h2>
        <form action="#" th:action="@{/}" th:object="${user}" method="post">
            <div class="row">
                Username:
                <input type="text" th:field="*{username}" />

                <p th:if="${#fields.hasErrors('username')}">There were errors in the username:</p>
                <ul>
                    <li th:each="err : ${#fields.errors('username')}" th:text="${err}" />
                </ul>
            </div>
            
            <div class="row">
                Password:
                <input type="text" th:field="*{password}" />

                <p th:if="${#fields.hasErrors('password')}">There were errors in the password:</p>
                <ul>
                    <li th:each="err : ${#fields.errors('password')}" th:text="${err}" />
                </ul>
            </div>

            <button type="submit">Submit</button>
        </form>

        <h2>Current Users</h2>
        <ul>
            <li th:each="existingUser : ${users}" th:text="${existingUser}" />
        </ul>
    </body>
</html>